<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions Component's page</title>
</head>
<body>
    <div class="Komponentencontainer">
        <ul class="c-Aktionen">
            <li class="c-Aktion">
              <span class="c-action__title">10 Anfragen müssen bearbeitet werden</span>
              <a href="" class="c-btn c-action__link">Viewer bestellen</a>
            </li>
            <li class="c-Aktion">
              <span class="c-action__title">5 Nachrichten müssen beantwortet werden</span>
              <a href="" class="c-btn c-action__link">Nachrichten anzeigen</a>
            </li>
            <li class="c-Aktion">
              <span class="c-action__title">3 wichtige Produkte ausverkauft</span>
              <a href="" class="c-btn c-action__link">Produkte anzeigen</a>
            </li>
        </ul>

        <ul class="c-actions c-actions--oneline">
          <li class="c-Aktion">
            <span class="c-action__title">10 Anfragen müssen bearbeitet werden</span>
            <a href="" class="c-btn c-action__link">Viewer bestellen</a>
          </li>
          <li class="c-Aktion">
            <span class="c-action__title">5 Nachrichten müssen beantwortet werden</span>
            <a href="" class="c-btn c-action__link">Nachrichten anzeigen</a>
          </li>
          <li class="c-Aktion">
            <span class="c-action__title">3 wichtige Produkte ausverkauft</span>
            <a href="" class="c-btn c-action__link">Produkte anzeigen</a>
          </li>
      </ul>
    </div>
</body>
</html>