<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabs Component's page</title>
</head>
<body>
    <div class="component-container">
        <div class="c-tabs js-tabs">
            <div class="c-tabs__control">
              <span class="c-tabs__tab js-tab-link" data-index="orders">Requests requiring processing</span>
              <span class="c-tabs__tab js-tab-link" data-index="products">Spider out</span>
              <span class="c-tabs__tab js-tab-link" data-index="clients">New customers</span>
            </div>
            <div class="c-tabs__content">
                <div class="c-tabs__tabarea js-tab-area" data-indexed="orders">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__tabarea js-tab-area" data-indexed="products">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                </div>
                <div class="c-tabs__tabarea js-tab-area" data-indexed="clients">
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                    <div class="c-list">
                        <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
                        <span class="c-list__data">Black Shirt M</span>
                        <span class="c-list__data">Ali Jaber</span>
                        <span class="c-list__data">Damascus, Syria</span>
                        <span class="c-list__data">$19.99</span>
                        <div class="c-list__actions">
                            <a href="#" class="c-btn c-btn--primary c-btn--small">Shipped</a>
                            <a href="#" class="c-btn c-btn--small">Continue</a>
                            <a href="#" class="c-btn c-btn--destructive c-btn--small">Delete request</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
</html>